.shell {
  min-height: 100vh;
  background: #fff;
  color: #000;

  /* Sidebar sizes */
  --sb-collapsed: 72px;
  --sb-expanded: 244px;
  overflow-x: clip;
}

.main {
  padding-left: var(--sb-collapsed); /* mặc định chỉ chừa chỗ icon */
}

.main {
  padding-left: 9%; /* đúng chiều rộng sidebar */
}
